.parent_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.parent_container a {
    margin: 0.15rem;
    font-weight: 700;
}

.socials_container {
    width: 15rem;
    display: flex;
    margin-bottom: 1rem;
}

.footer {
    text-align: center;
    margin: 0 1rem 2rem 1rem;
}

.footer_contact {
    display: flex;
    justify-content: center;
}

@media (max-width: 580px) {
    .footer {
        font-size: 15px;
    }
}

@media (max-width: 425px) {
    .footer {
        font-size: 9px;
    }
    .footer_contact {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
