.parent_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.socials_container {
    width: 10rem;
    display: flex;
    margin-bottom: 1rem;
}

.footer {
    font-size: 8px;
    text-align: center;
}
