/* menu button */

.mobile_nav {
    z-index: 3;
}

#mobile_button {
    font-size: 22px;
    font-weight: 500;
    z-index: 3;
    display: flex;
    flex-direction: column;
    width: 5rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
}

.close_button {
    color: black;
    border: 2px solid black;
}

.clickedButton {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    transition: transform 0.3s ease-in-out, opacity 1s ease-in-out, background-color 1s ease-in-out;
}

@media (min-width: 769px) {
    .mobile_nav {
        display: none;
    }
}
@media (max-width: 768px) {
    #mobile_button {
        position: none;
    }
    .mobile_nav {
        display: flex;
    }
}
@media (max-width: 550px) {
    .mobile_nav {
        padding: 40px 20px;
    }
}
