/* menu button */

.mobile_nav {
    z-index: 3;
}

#mobile_button {
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 5rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

#mobile_button > span {
    width: 3.5rem;
    height: 5px;
    background-color: rgb(0, 0, 0);
    border-radius: 20rem;
    transition: transform 0.3s ease-in-out, opacity 1s ease-in-out, background-color 1s ease-in-out;
}

.clickedButton span:nth-child(1) {
    transform: translate3d(0, 15px, 0) rotate(45deg);
}

.clickedButton > span:nth-child(2) {
    transform: scaleX(0);
    opacity: 0;
}

.clickedButton > span:nth-child(3) {
    transform: translate3d(0, -7px, 0) rotate(-45deg);
}

.clickedButton > span {
    background-color: #000000 !important;
}

@media (min-width: 769px) {
    .mobile_nav {
        display: none;
    }
}
@media (max-width: 768px) {
    .mobile_nav {
        display: flex;
    }
}
@media (max-width: 550px) {
    .mobile_nav {
        padding: 40px 20px;
    }
}
