.card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    width: 100%;
    /* max-width: 800px; */
    margin: 20px auto;
}

.card:hover {
    transform: translateY(-5px);
}


.imageWrapper {
    flex-shrink: 0;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
