.modal_closed {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    transition: top 0.1s ease-in-out;
    transition-delay: 0s, 0s;
    z-index: 2;
    opacity: 0;
}
.modal_parent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.1s ease-in-out, opacity 0.1s ease;
    transition-delay: 0s, 0.1s;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.div_parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    height: max-content;
    opacity: 1;
    transition: opacity 0.1s ease;
    transition-delay: 0s;
    padding: 1rem 0;
}

.link {
    padding-top: 2rem;
    border-bottom: 1px rgb(158, 158, 158);
}

@media (min-width: 768px) {
    .modal_parent {
        display: none;
    }

    .div_parent {
        display: none;
    }
}
@media (max-width: 767px) {
    .modal_parent {
        display: flex;
    }

    .div_parent {
        display: flex;
    }
}
