.margin_right {
    margin-right: 0.1rem;
}

.parent_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem 0 0 0;
    font-family: 'Papyrus';
}

.inner_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10rem;
    max-width: 1024px;
    margin: 0 2rem;
}

.socials_container {
    width: max-content;
    display: flex;
    justify-content: space-between;
    width: 10rem;
    height: 100%;
    margin-top: 1rem;
}

.title_container {
    width: max-content;
    align-self: flex-start;
    min-width: 0;
}
@media (min-width: 1024px) {
    .parent_container {
        padding-bottom: 1rem;
        align-items: center;
    }
    .inner_container {
        flex-direction: row-reverse;
    }
    .title_container {
        font-size: 35px;
    }
}

@media (max-width: 1023px) {
    .inner_container {
        flex-direction: row-reverse;
    }
    .title_container {
        font-size: 1.7rem;
    }
}

@media (max-width: 768px) {
    .parent_container {
        padding-bottom: 0.5rem;
    }
    .inner_container {
        flex-direction: column;
        height: 7rem;
    }

    .title_container {
        display: none;
    }
}

@media (max-width: 425px) {
    .inner_container {
        flex-direction: column;
        margin: 0;
    }
    .title_container {
        font-size: 14px;
        padding-left: 1rem;
    }
}
