.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gallery_parent {
    width: 70rem;
    max-width: 1440px;
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 480px;
    max-height: 480px;
    width: 300px;
    margin: 10px 10px 10px 10px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.image_styles {
    object-fit: cover;
}

.image_container {
    position: relative;
    width: full;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 16px;
}

.bird_story {
    font-size: 14px;
    width: full;
    height: 200px;
    max-height: 200px;
    margin-bottom: 16px;
}

.donate_button {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 220px;
    border: none;
    border-radius: 50px;
    background-color: var(--primary-light);
}

.error_message {
    height: calc(100vh - 35rem);
    width: fit-content;
    padding: 1rem 1rem 0 2rem;
}

@media (max-width: 816px) {
    .image_container {
        height: 18rem;
        width: 18rem;
    }
}
@media (max-width: 640px) {
    .image_container {
        height: 25rem;
        width: 100%;
    }
}

@media (max-width: 425px) {
    .image_container {
        height: 17rem;
        width: 100%;
    }
}
