:root {
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
        "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

    --primary: #355e3b;
    --primary-light: #4a8453    ;
    --secondary: #d1d1d1;
    --accent: #484848;
    --social-blue: #2a6df3;

    --text: #333333;
    --button-text: #ffffff;
    --hero-text: #ffffff;
    --nav-text: white;

    --background: #fcfcfd;
    --donation-box-background: #ffffff;
    --nav-background: black;
}

@font-face {
    font-family: "Papyrus";
    src: url("/fonts/papyrus.ttf") format("truetype");
}
/* @media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
} */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    font-family: Arial, sans-serif; /* or any default font you prefer */
    font-size: 16px; /* or whatever base size you prefer */
    color: var(--text);
    line-height: 1.5;
    background-color: #fcfcfd;
}

a {
    color: inherit;
    text-decoration: none;
}

/* a:hover {
    text-decoration: underline; 
/*

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal; /* or any specific weight */
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

ul,
ol {
    list-style: none; /* removes default list styles */
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
