.margin_bottom {
    margin-bottom: 0.8rem;
}

.parent_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
}

.inner_container {
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.actions_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1.5rem;
}

.donate_button {
    border: none;
    border-radius: 13px;
}

@media (min-width: 425px) {
    .inner_container {
        flex-direction: row-reverse;
    }
}

@media (max-width: 1440px) {
    .inner_container {
        margin: 0 2rem;
    }
}

@media (max-width: 425px) {
    .inner_container {
        margin: 0;
    }
    .actions_container {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;
    }
}

@media (max-width: 600px) {
    .inner_container {
        flex-direction: column;
    }

    .margin_bottom {
        margin-bottom: none;
    }

    .actions_container {
        width: 100%;
        justify-content: space-evenly;
        flex-direction: row;
        margin: 0 0 1rem 0;
    }
}
