.container_parent {
    height: max-content;
    width: 100%;
    background-image: url("/images/baldeagle.png");
    background-size: cover;
    background-position-y: 30%;
}

.container_inner_parent {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 1024px;
}

.text_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    text-align: center;
    width: 100%;
}

.text_inner_container {
    width: 16rem;
    font-family: "Papyrus";
}

.text_header {
    font-size: 38px;
    font-weight: bold;
}

.text_head_left {
    text-align: start;
}

.text_head_right {
    text-align: center;
}

.text_inc {
    font-size: 20px;
}

.sub_header_container {
    text-align: right;
    width: 100%;
    /* margin: 1rem 0; */
}

/* @media (max-width: 768px) {

} */

@media (min-width: 769px) {
    .container_parent {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 0 2rem;
    }
    .text_container {
        width: max-content;
    }
}

@media (max-width: 769px) {
    .container_parent {
        display: block;
    }
    .container_inner_parent {
        display: block;
    }
    .sub_header_container {
        padding-right: 0.5rem;
    }
}

@media (max-width: 425px) {
    .text_container {
        text-align: center;
        width: 100%;
        padding: 2rem 80px;
    }
}
@media (max-width: 375px) {
    .text_container {
        text-align: center;
        width: 100%;
        padding: 2rem 55px;
    }
}
@media (max-width: 320px) {
    .text_container {
        text-align: center;
        width: 100%;
        padding: 2rem 27px;
    }
}
