.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    padding: 1rem;
    background-color: var(--nav-background);
    border-top: 1px solid white;
    border-bottom: 5px solid var(--primary);
    z-index: 3;
    max-width: 1124px;
    margin-left: auto;
    margin-right: auto;
}

.desktop_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    max-width: 40rem;
}

.desktop_nav > li {
    font-family: var(--font-sans);
    color: var(--nav-text);
    font-weight: 500;
    word-wrap: normal;
    text-shadow: 3px 7px 21px var(--secondary);
}

@media (max-width: 768px) {
    .navbar {
        padding: 1.5rem 1.5rem;
        border-bottom: none;
    }
}

@media (min-width: 769px) {
    .desktop_nav {
        display: flex;
    }
}
@media (max-width: 768px) {
    .desktop_nav {
        display: none;
    }
}
