.parent_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width: 769px) {
    .parent_container {
        padding: 0.5rem 1rem 0 1rem;
    }
}
