.parent_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inner_container {
    width: 100%;
    max-width: 1024px;
}

.container_title {
    font-size: 1.3rem;
}

@media (min-width: 426px) {
    .inner_container {
        margin: 0 2rem;
    }

}

@media (max-width: 425px) {
    .inner_container {
        margin: 0;
    }
    .parent_container {
        padding: 0.5rem 1rem 0 1rem;
    }
}

@media screen and (max-width: 600px) {
    .container_title {
        font-family: 'Papyrus';
        font-size: 2rem;
        margin-bottom: .2rem;
        display: inline-block;
    }
    
}