.parent_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inner_container {
    width: 100%;
    max-width: 1024px;
}

.container_title {
    font-size: 1.3rem;
}

@media (min-width: 426px) {
    .inner_container {
        margin: 0 2rem;
    }
}

@media (max-width: 425px) {
    .inner_container {
        margin: 0;
    }
    .parent_container {
        padding: 0.5rem 1rem 0 1rem;
    }
}

@media screen and (max-width: 600px) {
    .container_title {
        font-family: 'Papyrus';
        font-size: 2rem;
        margin-bottom: 0.2rem;
        display: inline-block;
    }
}

.gallery_title {
    font-size: 1.3rem;
    margin-top: 1.75rem;
}

/* Styles for Bird Gallery Section */
.gallery_preview {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.gallery_card_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 480px;
    max-height: 480px;
    width: 300px;
    margin: 10px;
    border: 1px solid rgb(184, 184, 184);
    overflow: hidden;
    padding: 15px;
    box-shadow: 2px 2px 12px 2px #e1e0e0;
    border-radius: 5px;
}

.gallery_image_container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-bottom: 16px;
    border-radius: 5px;
}

.gallery_image_styles {
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.gallery_bird_story {
    font-size: 14px;
    width: 100%;
    height: 200px;
    max-height: 200px;
    margin-bottom: 16px;
}

.gallery_donate_button_container {
    display: flex;
    justify-content: flex-start;
}

/* Responsive Styles for Bird Cards */
@media (max-width: 640px) {
    .gallery_image_container {
        height: 25rem;
        width: 100%;
    }

    .gallery_card_container {
        width: 100%;
    }

    .gallery_donate_button_container {
        justify-content: center;
    }
}

@media (max-width: 425px) {
    .gallery_image_container {
        height: 17rem;
        width: 100%;
    }
}
